# Exercise #4

Step 1. Use the file `us_cities_by_population_2010.xlsx` to create a data series. Display the data series. The city/state should be the index.

In [62]:
# Step 1 Solution

import pathlib
import pandas as pd
import numpy as np
import re

cities_2010_file_name = pathlib.Path("data", "us_cities_by_population_2010.xlsx")
cities_2010 = pd.read_excel(cities_2010_file_name, index_col=[1,2])
cities_2010

                                  Rank  2010 Actual
City              State
New York City[d]   New York          1      8175133
Los Angeles        California        2      3792621
Chicago            Illinois          3      2695598
Houston[3]         Texas             4      2100263
Philadelphia[e]    Pennsylvania      5      1526006
...                                ...          ...
Edinburg           Texas           313        77100
Bend               Oregon          314        76639
Meridian           Idaho           315        75092
Jurupa Valley      California      316            0
South Fulton       Georgia         317            0

[317 rows x 2 columns]

Step 2. Use the file `us_cities_by_population_2020.xlsx` to create a data series. Display the data series. The city/state should be the index.

In [63]:
# Step 2 Solution

cities_2020_file_name = pathlib.Path("data", "us_cities_by_population_2020.xlsx")
cities_2020 = pd.read_excel(cities_2020_file_name, index_col=[1,2])
cities_2020

                                Rank  2020 Estimate
City              State
New York City[d]   New York        1        8253213
Los Angeles        California      2        3970219
Chicago            Illinois        3        2677643
Houston[3]         Texas           4        2316120
Phoenix            Arizona         5        1708127
...                              ...            ...
San Angelo         Texas         313         101612
Renton             Washington    314         101494
Lee's Summit       Missouri      315         101467
Vacaville          California    316         101332
Vista              California    317         100636

[317 rows x 2 columns]

Step 3. Produce a data frame using the two data series. Display the data frame below.

In [64]:
# Step 3 Solution

# option 1

# cities_data = pd.DataFrame({
#     "Rank 1": cities_2010["Rank"],
#     "2010 Actual": cities_2010["2010 Actual"],
#     "Rank 2": cities_2020["Rank"],
#     "2020 Estimate": cities_2020["2020 Estimate"],
# })

# option 2

# cities_data = pd.DataFrame({
#     "2010 Actual": cities_2010["2010 Actual"],
#     "2020 Estimate": cities_2020["2020 Estimate"],
# })

# option 3

# cities_2010.columns = ["Rank 1", "2010 Actual"]
# cities_2020.columns = ["Rank 2", "2020 Estimate"]
# cities_data = cities_2010.join(cities_2020)

# option 4

# cities_data = cities_2010.drop("Rank", axis=1).join(cities_2020.drop(columns=["Rank"]))

# option 5

cities_2010.drop("Rank", axis=1, inplace=True)
cities_2020.drop("Rank", axis=1, inplace=True)

cities_data = cities_2010.join(cities_2020)


cities_data

                                  2010 Actual  2020 Estimate
City              State
New York City[d]   New York           8175133        8253213
Los Angeles        California         3792621        3970219
Chicago            Illinois           2695598        2677643
Houston[3]         Texas              2100263        2316120
Philadelphia[e]    Pennsylvania       1526006        1578487
...                                       ...            ...
Edinburg           Texas                77100         102374
Bend               Oregon               76639         101886
Meridian           Idaho                75092         121182
Jurupa Valley      California               0         109745
South Fulton       Georgia                  0         102567

[317 rows x 2 columns]

Step 4. Load the 2016 land area for each city from the `us_cities_by_land_area_2016.csv` file. Add the data to data frame.

In [65]:
# Step 4 Solution

cities_2016_land_area_file_name = pathlib.Path("data", "us_cities_by_land_area_2016.csv")

cities_2016_land_area_data = pd.read_csv(
    cities_2016_land_area_file_name,
    skiprows=0,
    index_col=[0,1])

# option 1

# cities_2016_land_area_series = cities_2016_land_area_data["2016 Land Area (sq mi)"]

# land_area_floats = []

# for land_area_val in cities_2016_land_area_series:
#     land_area_floats.append(float(land_area_val.replace(" sq mi", "").replace(",", "")))
    
# land_area_floats[:5]

# cities_data["2016 Land Area (sq mi)"] = land_area_floats

# option 2

cities_data["2016 Land Area (sq mi)"] = cities_2016_land_area_data["2016 Land Area (sq mi)"].apply(
        lambda x: float(x.replace(" sq mi", "").replace(",", ""))
    )

cities_data

,,2010 Actual,2020 Estimate,2016 Land Area (sq mi)
City,State,,,
New York City[d],New York,8175133,8253213,301.5
Los Angeles,California,3792621,3970219,468.7
Chicago,Illinois,2695598,2677643,227.3
Houston[3],Texas,2100263,2316120,637.5
Philadelphia[e],Pennsylvania,1526006,1578487,134.2
...,...,...,...,...
Edinburg,Texas,77100,102374,37.6
Bend,Oregon,76639,101886,33.1
Meridian,Idaho,75092,121182,29.8
Jurupa Valley,California,0,109745,42.9
South Fulton,Georgia,0,102567,84.8

In [66]:
cities_data

,,2010 Actual,2020 Estimate,2016 Land Area (sq mi)
City,State,,,
New York City[d],New York,8175133,8253213,301.5
Los Angeles,California,3792621,3970219,468.7
Chicago,Illinois,2695598,2677643,227.3
Houston[3],Texas,2100263,2316120,637.5
Philadelphia[e],Pennsylvania,1526006,1578487,134.2
...,...,...,...,...
Edinburg,Texas,77100,102374,37.6
Bend,Oregon,76639,101886,33.1
Meridian,Idaho,75092,121182,29.8
Jurupa Valley,California,0,109745,42.9
South Fulton,Georgia,0,102567,84.8

Step 5. Calculate a new column for the percent change in population from 2010 to 2020.

In [67]:
# Step 5 Solution

cities_data["Population Change"] = (cities_data["2020 Estimate"] - cities_data["2010 Actual"]) / cities_data["2010 Actual"] * 100

cities_data

,,2010 Actual,2020 Estimate,2016 Land Area (sq mi),Population Change
City,State,,,,
New York City[d],New York,8175133,8253213,301.5,0.955091
Los Angeles,California,3792621,3970219,468.7,4.682725
Chicago,Illinois,2695598,2677643,227.3,-0.666086
Houston[3],Texas,2100263,2316120,637.5,10.277618
Philadelphia[e],Pennsylvania,1526006,1578487,134.2,3.439108
...,...,...,...,...,...
Edinburg,Texas,77100,102374,37.6,32.780804
Bend,Oregon,76639,101886,33.1,32.942758
Meridian,Idaho,75092,121182,29.8,61.378043
Jurupa Valley,California,0,109745,42.9,inf
South Fulton,Georgia,0,102567,84.8,inf

Step 6. Calculate two columns for population density for both 2010 and 2020.

In [68]:
# Step 6 Solution

cities_data["Population Density 2010"] = cities_data["2010 Actual"] / cities_data["2016 Land Area (sq mi)"]
cities_data["Population Density 2020"] = cities_data["2020 Estimate"] / cities_data["2016 Land Area (sq mi)"]

cities_data

,,2010 Actual,2020 Estimate,2016 Land Area (sq mi),Population Change,Population Density 2010,Population Density 2020
City,State,,,,,,
New York City[d],New York,8175133,8253213,301.5,0.955091,27114.868988,27373.840796
Los Angeles,California,3792621,3970219,468.7,4.682725,8091.787924,8470.704075
Chicago,Illinois,2695598,2677643,227.3,-0.666086,11859.208095,11780.215574
Houston[3],Texas,2100263,2316120,637.5,10.277618,3294.530196,3633.129412
Philadelphia[e],Pennsylvania,1526006,1578487,134.2,3.439108,11371.132638,11762.198212
...,...,...,...,...,...,...,...
Edinburg,Texas,77100,102374,37.6,32.780804,2050.531915,2722.712766
Bend,Oregon,76639,101886,33.1,32.942758,2315.377644,3078.126888
Meridian,Idaho,75092,121182,29.8,61.378043,2519.865772,4066.510067
Jurupa Valley,California,0,109745,42.9,inf,0.000000,2558.158508
South Fulton,Georgia,0,102567,84.8,inf,0.000000,1209.516509

Step 7. Save the data frame to a CSV.

In [69]:
# Step 7 Solution

cities_data.to_csv("cities.csv")

Step 8. Swap the columns and indexes. Save to a CSV.

In [70]:
# Step 8 Solution

# cities_data.stack().unstack(1).unstack(0)

cities_data2 = cities_data.unstack(0).stack().transpose()

cities_data2.to_csv("cities2.csv")

In [82]:
#  Bonus - Clean Up Indexes

# Option 1

# city_index = []
# state_index = []

# annotation = re.compile("\[.*\]")

# for city, state in cities_data.index:
#     city_index.append(re.sub(annotation, "", city.strip()))
#     state_index.append(state.strip())
    
# cities_data.index = pd.MultiIndex.from_arrays([ city_index, state_index ], names=["City", "State"])

# Option 2

annotation = re.compile("\[.*\]")

cities_index_df = pd.DataFrame(list(cities_data.index.values), columns=["City", "State"])

cities_index_df["City"] = cities_index_df["City"].apply(lambda city: re.sub(annotation, "", city.strip()))
cities_index_df["State"] = cities_index_df["State"].str.strip()

cities_data.index = pd.MultiIndex.from_arrays(cities_index_df.values.T, names=cities_index_df.columns)

cities_data.to_csv("cities.csv")

In [83]:
cities_data2 = cities_data.unstack(0).stack().transpose()

In [84]:
cities_data2

State                          Alabama                                \
City                        Birmingham     Huntsville         Mobile
2010 Actual              212237.000000  180105.000000  195111.000000
2020 Estimate            206950.000000  202964.000000  187746.000000
2016 Land Area (sq mi)      146.100000     213.400000     139.400000
Population Change            -2.491083      12.692041      -3.774774
Population Density 2010    1452.683094     843.978444    1399.648494
Population Density 2020    1416.495551     951.096532    1346.814921

State                                                         Alaska  \
City                        Montgomery     Tuscaloosa      Anchorage
2010 Actual              205764.000000   90468.000000  291826.000000
2020 Estimate            196268.000000  102819.000000  287095.000000
2016 Land Area (sq mi)      159.800000      71.700000    1706.600000
Population Change            -4.614996      13.652341      -1.621172
Population Density 2010    1287.634543    1261.757322     170.998477
Population Density 2020    1228.210263    1434.016736     168.226298

State                          Arizona                                \
City                          Chandler        Gilbert       Glendale
2010 Actual              236123.000000  208453.000000  226721.000000
2020 Estimate            265398.000000  257658.000000  255307.000000
2016 Land Area (sq mi)       64.900000      68.000000      59.100000
Population Change            12.398199      23.604841      12.608448
Population Density 2010    3638.258860    3065.485294    3836.226734
Population Density 2020    4089.337442    3789.088235    4319.915398

State                                   ...     Washington                 \
City                              Mesa  ...           Kent         Renton
2010 Actual              439041.000000  ...   92411.000000   90927.000000
2020 Estimate            528159.000000  ...  130676.000000  101494.000000
2016 Land Area (sq mi)      137.900000  ...      33.700000      23.400000
Population Change            20.298332  ...      41.407408      11.621411
Population Density 2010    3183.763597  ...    2742.166172    3885.769231
Population Density 2020    3830.014503  ...    3877.626113    4337.350427

State                                                                 \
City                           Seattle        Spokane Spokane Valley
2010 Actual              608660.000000  208916.000000   89755.000000
2020 Estimate            769714.000000  222050.000000  102893.000000
2016 Land Area (sq mi)       83.800000      68.700000      37.700000
Population Change            26.460421       6.286737      14.637625
Population Density 2010    7263.245823    3040.989811    2380.769231
Population Density 2020    9185.131265    3232.168850    2729.257294

State                                                      Wisconsin  \
City                            Tacoma      Vancouver      Green Bay
2010 Actual              198397.000000  161791.000000  104057.000000
2020 Estimate            219945.000000  186192.000000  103836.000000
2016 Land Area (sq mi)       49.700000      46.900000      45.400000
Population Change            10.861051      15.081803      -0.212384
Population Density 2010    3991.891348    3449.701493    2292.004405
Population Density 2020    4425.452716    3969.978678    2287.136564

State
City                           Madison      Milwaukee
2010 Actual              233209.000000  594833.000000
2020 Estimate            263094.000000  589067.000000
2016 Land Area (sq mi)       77.000000      96.200000
Population Change            12.814686      -0.969348
Population Density 2010    3028.688312    6183.295218
Population Density 2020    3416.805195    6123.357588

[6 rows x 317 columns]

In [85]:
cities_data2["Alabama"]

City,Birmingham,Huntsville,Mobile,Montgomery,Tuscaloosa
2010 Actual,212237.000000,180105.000000,195111.000000,205764.000000,90468.000000
2020 Estimate,206950.000000,202964.000000,187746.000000,196268.000000,102819.000000
2016 Land Area (sq mi),146.100000,213.400000,139.400000,159.800000,71.700000
Population Change,-2.491083,12.692041,-3.774774,-4.614996,13.652341
Population Density 2010,1452.683094,843.978444,1399.648494,1287.634543,1261.757322
Population Density 2020,1416.495551,951.096532,1346.814921,1228.210263,1434.016736